/app/node_modules
/app/nginx/rtt.digital.crt
/app/nginx/rtt.digital.key
/app/dist
/app/.env

/api/node_modules
/api/https/rtt.digital.crt
/api/https/rtt.digital.key
/api/.env
/api/.DS_Store
/api/dist


/example_server_for_builder/node_modules
/example_server_for_builder/.env
/example_server_for_builder/.DS_Store
/example_server_for_builder/dist

/builder_prototype/node_modules
/builder_prototype/.env
/builder_prototype/.DS_Store
/builder_prototype/dist
